---
layout: default
---

<div class="container">
  <p class="mb-0">Volume {{page.number}}</p>
  <h1>{{ page.title }}</h1>

  {% include breadcrumb.html %}

  <div class="row">
    <div class="col-md-8">
      {{ content }}
    </div>
    <div class="col-md-3 offset-md-1">
      <dl>
        {%- if page.isbn -%}
          <dt>ISBN</dt>
          <dd>{{page.isbn}}</dd>
        {%- endif -%}

        {%- if page.tags -%}
          <dt>Langue</dt>
          <dd>
            {%- for tag in page.tags -%}
              {{tag}}
            {%- endfor -%}
          </dd>
        {%- endif -%}

        {%- if page.lang -%}
          <dt>Langue</dt>
          <dd>{{page.lang}}</dd>
        {%- endif -%}

        {%- if page.date -%}
          <dt>Date</dt>
          <dd>{{page.date}}</dd>
        {%- endif -%}
      </dl>
    </div>
  </div>
</div>
